<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @mountain.name %></h5>
      <p class="card-text text-muted">読み：<%= @mountain.kana %> | 標高：<%= @mountain.height %> | 山域：<%= @mountain.area %></p>
      <h5 class="card-title">
        <p class="result-rating-rate">
          <span class="star5_rating" data-rate="<%= @mountain.avg_score %>"></span>
          <span class="number_rating"><%= @mountain.avg_score %>（<%= @mountain.reviews.count %>件の評価）</span>
        </p>
      </h5>
      <p class="card-text">難易度：Lv.<%= @mountain.avg_level %></p>
      <p class="card-text"><%= link_to new_mountain_review_path(@mountain) do %>レビューを書く<% end %></p>
    </div>
  </div>

  <hr>
  <p class="h1">口コミ</p>

  <% unless @reviews.empty? %>
    <% @reviews.each do |review| %>
      <div class="card mb-2">
        <div class="row">
          <div class="col">
            <% if review.image.attached? %>
              <%= image_tag review.image.variant(:display) %>
            <% else %>
              <p class="card-text">投稿写真はありません</p>
            <% end %>
          </div>
          <div class="col">
            <div class="card-body">
              <p class="card-text">登った日：<%= review.start.strftime('%Y-%m-%d') %></p>
              <h5 class="card-title"><%= link_to review.title, review_path(review) %></h5>
              <p class="card-text"><%= review.content %></p>
              <p class="card-text">
                <span class="star5_rating" data-rate="<%= review.score %>"></span>
                <span class="number_rating"><%= review.score %></span>
              </p>
              <p class="card-text">難易度：Lv.<%= review.level %></p>
              <div class="card-text">所要時間：
                  <%= ((review.end - review.start) / 3600).round(0) %> 時間
                  <%= (((review.end - review.start) % 3600) / 60).round(0) %>分
              </div>
              <div class="card-text">投稿者：<%= review.user.name%></div>
              <p class="card-text"><small class="text-muted">更新日:<%= review.updated_at.strftime('%Y-%m-%d') %></small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="card-text">投稿はありません</p>
  <% end %>
</div>