<!DOCTYPE html>
<html>
  <head>
    <title>HiPeaks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1495a61f52.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top fixed-top">
      <div class="container-fluid">
        <div class="col-6">
          <%= link_to 'HiPeaks', root_path, class: "fs-1 h1 navbar-brand" %>
          登山のSNSサイト
        </div>
        <% if user_signed_in? %>
          <%= link_to 'マイページ', user_path, class: "text-muted fs-2 navbar-brand" %>
          <%= link_to '山一覧', mountains_path, class: "text-muted fs-2 navbar-brand" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :get, class: "text-muted fs-2 navbar-brand" %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "text-muted fs-2 navbar-brand" %>
          <%= link_to '新規登録', new_user_registration_path, class: "text-muted fs-2 navbar-brand" %>
        <% end %>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>

  </body>
</html>