<!DOCTYPE html>
<html>
  <head>
    <title>HiPeaks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1495a61f52.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top fixed-top">
      <div class="container-fluid">
        <div class="col-6">
          <%= link_to 'HiPeaks', root_path, class: "fs-1 h1 navbar-brand" %>
          登山のSNSサイト
        </div>
        <% if user_signed_in? %>
          <%= link_to mountains_path do %>
            <i class="fa-solid fa-mountain-sun fa-3x"></i>
          <% end %>
          <%= link_to user_path do %>
            <i class="fa-solid fa-circle-user fa-3x"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :get do %>
            <i class="fa-solid fa-right-from-bracket fa-3x"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-right-to-bracket fa-3x"></i>
          <% end %>
          <%= link_to  new_user_registration_path do %>
            <i class="fa-solid fa-user-plus fa-3x"></i>
          <% end %>
        <% end %>
      </div>
    </nav>


    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>

  </body>
</html>