<!DOCTYPE html>
<html>
  <head>
    <title>HiPeaks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1495a61f52.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-white static-top fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="fs-1 h1 mb-0 navbar-brand">
            <%= link_to 'HiPeaks', root_path, class: "text-dark text-decoration-none" %>
            <div class="text-muted fs-3 navbar-brand">山を探して記録しよう</div>
          </div>
        </div>
        
        <div class="fs-3 navbar-brand text-right d-flex flex-row">
          <% if user_signed_in? %>
            <div class= "me-5">ようこそ <%= current_user.name %> さん</div>
            <%= link_to '山一覧', mountains_path, class: "me-5 text-muted text-decoration-none" %>
            <%= link_to 'マイページ', user_path, class: "me-5 text-muted text-decoration-none " %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :get, class: "text-muted text-decoration-none" %>
          <% else %>
            <%= link_to '山一覧', mountains_path, class: "me-5 text-muted text-decoration-none" %>
            <%= link_to 'ログイン', new_user_session_path, class: "me-5 text-muted text-decoration-none" %>
            <%= link_to '新規登録', new_user_registration_path, class: "me-5 text-muted text-decoration-none" %>
          <% end %>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>

  </body>
</html>